<!DOCTYPE html>
<html>
<head>
  <title>Cord4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "pages/shared/header" %>


  <main>
   <div class="container">
      <%= yield %>
   </div>
  </main>
  <%= render "pages/shared/footer" %>
</body>
<script>
   $(document).ready(function(){
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
  });
</script>
</html>
